@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

:root {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #000000 !important;
  color: var(--foreground);
  font-family: 'Outfit', sans-serif;
  overflow-y: auto !important;
  /* Force scroll */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Next.js root wrapper */
div#__next,
main {
  width: 100%;
  min-height: 100%;
}